@mixin flexCenter($direction, $align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin centerHorizontal {
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerVertical {
    top: 50%;
    transform: translateY(-50%);
}

@mixin header {
    font-size: $headerFont;
    font-weight: 500;
    color: $primaryColor;
}

@mixin withNav {
    height: calc(100vh - 110px);
    width: 100%;
    padding: 0 10px;
    overflow: auto;
}

@mixin container {
    border: none;
    border-radius: 8px;
    box-shadow: $boxShadow2;
}

@mixin line {
    border-bottom: 1px solid $primaryColor;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@mixin submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 45px;
    width: 100%;
    letter-spacing: 2px;
    font-size: $nFont;
    font-weight: 500;
    background: $primaryColor;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

@mixin error {
    position: fixed;
    z-index: 3;
    padding: 5px 10px;
    background: $errorColor3;
    border-radius: 5px;
    color: #fff;
    top: -5%;
    opacity: 0;
    transition: 0.3s ease;
}

@mixin errorActive {
    top: 55px;
    opacity: 1;
}

@mixin plainBtn {
    border: none;
    background-color: transparent;
}

@mixin normalBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: $boxShadow2;
    padding: 4px 12px;
    background: $primaryColor;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

@mixin button3 {
    border: none;
    font-size: $sFont;
    font-weight: 500;
    background: #fff;
    color: $primaryColor;
    border-radius: 5px;
    box-shadow: $boxShadow2;
    cursor: pointer;
}

@mixin button4 {
    @include flexCenter(row, center, center);
    border: 1px solid $primaryColor;
    font-size: $sFont;
    font-weight: 500;
    background: #fff;
    color: $primaryColor;
    border-radius: 5px;
    box-shadow: $boxShadow2;
    cursor: pointer;
}

@mixin inactiveOverlay {
    height: 100vh;
    max-width: 400px;
    width: 100%;
    top: 0;
    @include centerHorizontal;
    z-index: 2;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

@mixin activeOverlay {
    opacity: 1;
    pointer-events: auto;
}

@mixin inactiveModal {
    position: fixed;
    z-index: 3;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

@mixin activeModal {
    opacity: 1;
    pointer-events: auto;
}

@mixin alert {
    width: 95%;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #555;
    text-align: center;
    position: fixed;
    z-index: 5;
    bottom: -100px;
    transition: 0.3s ease;
}

@mixin activeAlert {
    bottom: 60px;
}


// CART, CHECKOUT AND ADMIN STORE

@mixin actionBtnDot {
    @include plainBtn;
    @include flexCenter(column, center, center);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background: $hoverColor;
    }

    .dots {
        height: 3px;
        width: 3px;
        background: grey;
        border-radius: 50%;
    }
}

@mixin actionBtnDot2 {
    @include actionBtnDot;
    flex-direction: row;
    border-radius: 5px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin actionModal {
    position: absolute;
    bottom: 3px;
    right: -55px;
    background: #fff;
    width: 90px;
    border-radius: 8px;
    box-shadow: $boxShadow2;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    div {
        @include flexCenter(column, center, center);

        button,
        a {
            @include plainBtn;
            padding: 8px;
            width: 100%;
            cursor: pointer;
            transition: 0.2s;
            color: #000;
            font-size: 14px;
            text-align: center;
        }

        .edit {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 8px 8px 0 0;
        }

        .delete {
            border-radius: 0 0 8px 8px;
        }

        :is(.delete, .edit):hover {
            background: $hoverColor;
        }
    }
}

@mixin confirmartionModal {
    position: absolute;
    right: 50%;
    bottom: -200px;
    transform: translate(50%, -50%);
    width: 300px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    .content {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: $boxShadow2;
        text-align: center;

        p {
            margin-bottom: 25px;
            font-size: $nFont;
        }

        .buttons {
            display: flex;
            margin-top: 8px;
            justify-content: space-between;
            gap: 15px;

            .cancel {
                @include button4;
                font-size: $nFont;
                color: $textColor2;
                border-color: $borderColorSemiWhite;
                transition: 0.3s ease;

                &:hover {
                    background: $hoverColor;
                    border-color: $hoverColor;
                }
            }

            .save {
                @include normalBtn;
                transition: 0.3s ease;

                &:hover {
                    background: $hoverColor2;
                }
            }

            button {
                width: 100%;
                font-size: $nFont;
                font-weight: 400;
                padding: 8px 0;
            }
        }
    }
}

//food container rectangle like in cart
@mixin content {
    @include flexCenter(row, center, space-between);
    min-height: 80px;
    height: 80px;
    border-radius: 10px;
    padding-right: 5px;
    background: #fff;
    box-shadow: $boxShadow2;
    position: relative;
    overflow: hidden;

    img {
        width: 100px;
        height: 100%;
        border-radius: 10px 0 0 10px;
        object-fit: cover;
    }

    .description {
        // background: lightblue;
        flex: 1;
        padding: 0 15px;

        div {
            @include flexCenter(row, center, space-between);

            p {
                font-size: $sFont;
                color: $textColor2;
            }
        }
    }

    .overlay {
        @include inactiveOverlay;
        background: rgba(0, 0, 0, 0.05);
        z-index: 4;
        // @include activeOverlay;
    }

    .food-action-modal {
        @include actionModal;
    }

    .action {
        @include actionBtnDot;
    }
}

@mixin orderSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #333;
    background: #fff;
    padding: 10px 15px;
    margin-top: 40px;
    color: $textColor3;
    // display: none;

    h3 {
        font-weight: 500;
        margin-bottom: 15px;
    }

    .content {
        @include flexCenter(row, center, space-between);
        width: 100%;
        margin-bottom: 4px;

        .name {
            width: 150px;
        }
    }

    .total {
        @include flexCenter(row, center, space-between);
        width: 100%;
        border-top: 1px dashed #333;
        margin-top: 10px;
        padding-top: 10px;

        p {
            font-weight: 500;
            font-size: 18px;
        }

        .price-cont {
            span {
                font-size: 22px;
                margin-right: 4px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }
}

@mixin proceedBtn {
    @include normalBtn;
    width: 100%;
    font-size: $nFont;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 10px;
    display: flex;
    margin: 15px auto 0;
}

// BELOW BUTTONS FOR INFO
@mixin belowBtnContainer {
    position: fixed;
    bottom: 0;
    background: #fff;
    max-width: 400px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    z-index: 2;

    .buynow_btn {
        @include normalBtn;

        &:hover {
            background: $hoverColor2;
        }
    }

    .addcart_btn {
        @include button4;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
            background: $primaryColor;
            color: #fff;
            border: 1px solid #fff;
        }
    }

    :is(a, button) {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        font-size: 16px;
    }
}