.wrapper {
    .bottom-nav {
        background: #fff;
        display: flex;
        width: 100%;
        height: 60px;
        border-radius: 20px;
        box-shadow: $boxShadow2;

        ul {
            display: flex;
            width: 100%;
            align-items: center;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                a {
                    @include flexCenter(column, center, space-around);
                    width: 100%;

                    img {
                        height: 28px;
                        width: 28px;
                    }

                    .cart_nav {
                        position: relative;
                    }

                    .cart_count {
                        position: absolute;
                        color: #fff;
                        font-size: 13px;
                        border: 1px solid #fff;
                        background: $primaryColor;
                        text-align: center;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        top: 1px;
                        right: -4px;
                    }
                }

                span {
                    font-size: 12px;
                    margin-top: -8px;
                    color: $primaryColor;
                    display: none;
                    transition: 0.3s ease;
                }

                span.active {
                    display: block;
                }

                div {
                    display: flex;
                    padding: 8px;
                    border-radius: 8px;
                    transition: 0.3s;

                    &:hover {
                        background: $hoverColor;
                    }
                }
            }
        }
    }
}