.wrapper {
    .top {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        background: #fff;
        box-shadow: $boxShadow2;
        max-width: 400px;
        min-height: 50px;
        padding: 0 10px;
        width: 100%;
        z-index: 4;

        .row1 {
            @include flexCenter(row, center, space-between);
            height: 50px;
            width: 100%;


            header {
                font-family: 'Atma';
                font-size: $headerFont;
            }

            .poppins {
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 20px;
            }

            .back-btn {
                width: 40px;
                @include flexCenter(row, center, center);
            }

            .food_name {
                font-family: "Poppins";
                font-size: $nFont;
            }

            .logo {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .sign-in-btn {
                font-size: 15px;
                @include normalBtn;
            }

            .right {
                display: flex;

                button {
                    @include button3;
                    padding: 5px 8px;
                    display: flex;
                    align-items: center;
                    box-shadow: none;

                    &:hover {
                        background: $hoverColor;
                    }
                }
            }
        }

        nav {

            ul {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;

                li {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    white-space: nowrap;

                    a {
                        @include flexCenter(row, center, center);
                        height: 100%;
                        font-size: $nFont;
                    }
                }

                li.active {
                    border-bottom: 3px solid $primaryColor;
                }
            }
        }

        .overlay {
            @include inactiveOverlay;
            z-index: 5;
        }

        .modal-box.notification {
            @include inactiveModal;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 380px;
            width: 95%;
            height: calc(100vh - 110px);
            border-radius: 8px;
            z-index: 6;

            .content {
                height: 100%;
                padding: 4px 8px;
            }

            .content.empty {
                @include flexCenter(column, center, center);

                header {
                    color: $textColor;
                    font-size: 20px;
                }
            }
        }
    }
}

.top.active-notif {
    .overlay {
        @include activeOverlay;
    }

    .modal-box.notification {
        @include activeModal;
    }
}