@import url(home.css);

/* .container {
    background: #2b2b2b;
} */

.container .top .back-btn {
    font-family: 'Atma';
    font-size: 18px;
}

.container .content {
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.content .img-container {
    background: #fff;
    margin: 10px 0 25px;
    height: 230px;
    display: flex;
    justify-content: center;
}

.content .img-container img {
    border-radius: 15px;
}

.content .desc-container {
    background: #FFEBEB;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, .25);
    min-height: calc(100vh - 315px);
    padding: 25px 20px;
    border-radius: 35px 35px 0 0;
    position: relative;
    z-index: 1;
}

.content .desc-container h3 {
    font-size: 22px;
    font-weight: 500;
}

.content .desc-container h4 span {
    font-size: 22px;
}

.content .desc-container h4 {
    font-size: 18px;
    font-weight: 500;
    color: #FF5E5E;
}

.content .desc-container .food-description {
    margin: 20px 0;
    min-height: 125px;
}

.container .content .title-with-line-cont {
    margin: 15px 0 0;
}

.container .content .title-with-line-cont h1 {
    margin-right: 10px;
}

.content .submit-btn-container {
    padding: 0 20px 20px;
    box-shadow: 0 -1px 20px 0 rgba(255, 235, 235, .6);
    background: #FFEBEB;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 999; */
}

.content .submit-btn-container .submit-btn {
    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

.desc-container.open {
    width: 100%;
    position: fixed;
    bottom: -500px;
    z-index: 0;
    transition: 0.5s ease;
}

.desc-container.open.active {
    bottom: 0;
    z-index: 1;
}