@import url(fonts/poppins/poppins.css);
@import url(fonts/atma/atma.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
    text-decoration: none;
    list-style: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
}

.container .content {
    /* background: lightblue; */
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    color: #FF5E5E;
}

h1,
label,
p {
    pointer-events: none;
}

select {
    outline: none;
    cursor: pointer;
}

.error {
    width: 100%;
    border-radius: 3px;
    font-size: 10px;
    color: red;
    margin-bottom: 5px;
    /* display: none; */
}

.submit-btn {
    background: #FF5E5E;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 {
    border: none;
    cursor: pointer;
    height: 45px;
    width: 50px;
    display: flex;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    transition: 0.3s;
}

.btn2:hover {
    background: #FFCBCB;
}

.btn3 {
    background: white;
    border: 1px solid #FF5E5E;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    color: #FF5E5E
}

.btn4 {
    background: white;
    border: none;
    border-radius: 5px;
}

.container .content .title-with-line-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.container .title-with-line-cont h1 {
    font-size: 12px;
    font-weight: 500;
}

.container .title-with-line-cont hr {
    background: #FF5E5E;
    width: 90%;
    height: 1px;
    outline: 0;
    border: 0;
}

.item-rates {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.item-rates div {
    display: flex;
    gap: 7px;
    color: #2b2b2b;
}