@import url(fonts/poppins/poppins.css);
@import url(fonts/atma/atma.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
    text-decoration: none;
    list-style: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
}

.container .top {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .25);
    top: -1px;
    z-index: 3;
}

.container .top p {
    font-family: 'Atma';
    font-size: 20px;
}

.container .top .logo {
    width: 60px;
    height: 40px;
    position: absolute;
    z-index: 99;
    right: 50%;
    transform: translateX(65%);
}

.container .top h1 {
    font-weight: 500;
    font-size: 18px;
    color: #303030;
}

.container .top a {
    font-size: 13px;
    display: flex;
    padding: 5px 10px;
}

.check-box {
    width: 12px;
    height: 12px;
    margin: auto 5px auto 0;
    color: #FF5E5E;
}

.container .top .back-btn {
    font-family: 'Atma';
    font-size: 18px;
    box-shadow: none;
}

.container .content {
    /* background: lightblue; */
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    color: #FF5E5E;
}

h1,
label,
p {
    pointer-events: none;
}

select {
    outline: none;
    cursor: pointer;
}

.error {
    width: 100%;
    border-radius: 3px;
    font-size: 10px;
    color: red;
    margin-bottom: 5px;
    /* display: none; */
}

.price-cont {
    display: flex;
    align-items: center;
    color: #FF5E5E;
}

.price-cont span {
    font-size: 22px;
}

.price-cont .price {
    font-weight: 500;
    font-size: 20px;
}

.container .message {
    background: rgba(136, 236, 136, 0.85);
    width: 90%;
    padding: 10px 20px;
    border-radius: 10px;
    color: #555;
    text-align: center;
    position: fixed;
    transition: 0.5s;
    z-index: 999;
}

.submit-btn {
    background: #FF5E5E;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.btn2 {
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    transition: 0.3s;
}

.btn2:hover {
    background: #FFCBCB;
}

.btn3 {
    background: white;
    border: 1px solid #FF5E5E;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    color: #FF5E5E
}

.btn4 {
    background: white;
    border: none;
    border-radius: 5px;
}

.btn-round {
    background: #FF5E5E;
    border: 1px solid #FF5E5E;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.second-btn {
    background: white;
    border: 1px solid #FF5E5E;
    color: #FF5E5E;
}

.second-btn:hover {
    background: #ff8282;
    border: 1px solid #ff8282;
    color: white;
}

.btn-inactive {
    color: #303030;
    background: #c5c5c5;
    border-color: #c5c5c5;
}

.container .content .title-with-line-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.container .title-with-line-cont h1 {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.container .title-with-line-cont hr {
    background: #FF5E5E;
    width: 90%;
    height: 1px;
    outline: 0;
    border: 0;
}

.item-rates {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.item-rates div {
    display: flex;
    gap: 7px;
    color: #2b2b2b;
}