.container .top2 {
    width: 100%;
    min-height: 50px;
    padding: 0 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: sticky;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .25);
    top: 0;
    z-index: 3;
    color: #303030;
}

.container .top2 .row1 {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container .top2 .back-btn,
.container .top2 p {
    font-family: 'Atma';
    font-size: 22px;
}

.container .top2 .back-btn {
    color: #FF5E5E;
}

/* sign-in button */
.container .top2 .submit-btn {
    font-size: 14px;
    display: flex;
    padding: 5px 10px;
}

.container .top2 .notif {
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

.container .top2 .notif:hover {
    background: #FFCBCB;
}

.container .top2 .top-nav ul {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.container .top2 .top-nav .link {
    width: 100%;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}

.container .top2 .top-nav .link.active {
    border-bottom: 3px solid #FF5E5E;
}

.top2 .top-nav .link a {
    display: flex;
    font-size: 18px;
    height: 100%;
    align-items: center;
    justify-content: center;
}