@import './global/variables';
@import './global/functions';
@import url(fonts/atma/atma.css);
@import url(fonts/poppins/poppins.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    outline: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background: $textColor;
    display: flex;
    justify-content: center;
}

.wrapper {
    align-items: flex-start;
    background: $backgroundColor;
    min-height: 100vh;
    max-width: 400px;
    width: 100%;
}

a {
    color: $primaryColor;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
}

.empty {
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 500;
        text-align: center;
        color: $textColor;
        font-size: 20px;
    }
}

.indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;

    h1 {
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;
        margin-right: 10px;
        color: $textColor;
    }

    hr {
        background: #FF5E5E;
        width: 90%;
        height: 1px;
        outline: 0;
        border: 0;
    }
}

.price-cont {
    display: flex;
    align-items: center;
    color: #FF5E5E;

    span {
        font-size: 20px;
        font-family: monospace;
        margin-right: 2px;
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
    }
}

.pop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 10%;
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
}

.pop.active {
    opacity: 1;
    pointer-events: auto;
}

.pop.active.s {
    background: rgba(50, 50, 50, 0.5);
    color: #fff;
}


// TOPBAR CSS CODE
@import './global/topbar';

// NAVBAR CSS CODE
@import './global/navbar';

// CSS CODE FOR LOGIN
@import './global/login';


//---------- CUSTOMER SIDE ----------

// CUSTOMER HOME CONTENT AND ADMIN STORE CONTENT CSS CODE
@import './customer/home';

// FOOD DETAILS CSS CODE
@import './customer/food-details';

// CART CSS CODE
@import './customer/cart';

// ORDER CSS CODE
@import './customer/orders';

// ORDER INFO CSS CODE
@import './customer/order-info';

// ORDER HISTORY CSS CODE
@import './customer/order-history';

// PAYMENT CSS CODE
@import './customer/checkout';

// PROFILE CSS CODE
@import './customer/profile';


//---------- ADMIN SIDE ----------
// STORE CSS CODE
@import './admin/store';

// ADD DISH
@import './admin/dish-info';


//---------- VENDOR SIDE ----------
// ORDER LIST CSS CODE (VENDOR AND ADMIN)
@import './vendor/order';

// CART
@import './vendor/cart';