@import url(fonts/atma/atma.css);
@import url(fonts/poppins/poppins.css);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background: #2b2b2b;
  display: flex;
  justify-content: center;
}

.wrapper {
  align-items: flex-start;
  background: #f7f7f7;
  min-height: 100vh;
  max-width: 400px;
  width: 100%;
}

a {
  color: #FF5E5E;
}

.indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.indicator h1 {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 10px;
  color: #2b2b2b;
}
.indicator hr {
  background: #FF5E5E;
  width: 90%;
  height: 1px;
  outline: 0;
  border: 0;
}

.price-cont {
  display: flex;
  align-items: center;
  color: #FF5E5E;
}
.price-cont span {
  font-size: 20px;
  font-family: monospace;
}
.price-cont h4 {
  font-size: 18px;
  font-weight: 500;
}

.wrapper.login-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #f7f7f7;
  min-height: 100vh;
}
.wrapper.login-reg .form {
  position: relative;
  background: #fff;
  padding: 18px 24px;
  border-radius: 10px;
  box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.login-reg .form :is(.logo, .logo-text) {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -65%);
}
.wrapper.login-reg .form header {
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  color: #FF5E5E;
  border-bottom: 1px solid #FF5E5E;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.wrapper.login-reg .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper.login-reg .form form .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.wrapper.login-reg .form form .input label {
  margin-bottom: 2px;
}
.wrapper.login-reg .form form .input label span {
  color: #FF5E5E;
  font-size: 12px;
}
.wrapper.login-reg .form form .input input {
  height: 46px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.wrapper.login-reg .form form .input .toggle {
  position: absolute;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  background-image: url(../../icons/login/eye.svg);
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrapper.login-reg .form form .input .toggle.active {
  background: url(../../icons/login/eyeslash.svg);
}
.wrapper.login-reg .form form .error-txt {
  color: #721c24;
  font-size: 14px;
  background: #f8d7da;
  padding: 6px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  transition: 0.3s ease;
}
.wrapper.login-reg .form form .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 14px;
}
.wrapper.login-reg .form form .action .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.wrapper.login-reg .form form .action .content input {
  margin-right: 3px;
}
.wrapper.login-reg .form form .action a {
  color: #FF5E5E;
}
.wrapper.login-reg .form form .action a:hover {
  text-decoration: underline;
}
.wrapper.login-reg .form form .button input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 45px;
  width: 100%;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  background: #FF5E5E;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 8px;
}
.wrapper.login-reg .form .link {
  font-size: 14px;
}
.wrapper.login-reg .form .link a {
  color: #FF5E5E;
}
.wrapper.login-reg .form .link a:hover {
  text-decoration: underline;
}

.wrapper.login-reg .form.admin .logo {
  top: -75px;
}
.wrapper.login-reg .form.admin .logo-text {
  top: -20px;
  width: 250px;
}

.wrapper.login-reg :is(.form.signup-name, .form.signup-info) {
  display: none;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input {
  margin-bottom: 5px;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input .error-reg {
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
  color: #ff5f6f;
  display: none;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input input[type=number]::-webkit-outer-spin-button,
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 0;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input.success input {
  border: 2px solid #09c372;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input.error input {
  border: 2px solid #ff5f6f;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .input.error .error-reg {
  display: block;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .error-txt {
  margin-bottom: 5px;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .field.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 80px;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .field.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  letter-spacing: 1px;
  color: #FF5E5E;
  cursor: pointer;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .field.button span:hover {
  text-decoration: underline;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) form .field.button input {
  font-size: 14px;
  letter-spacing: 1px;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info) .link {
  text-align: center;
}
.wrapper.login-reg :is(.form.signup-name, .form.signup-info).active {
  display: block;
}

.wrapper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  height: 50px;
  padding: 0 10px;
  width: 100%;
}
.wrapper .top header {
  font-family: "Atma";
  font-size: 22px;
}
.wrapper .top .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .top a {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 4px 12px;
  background: #FF5E5E;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper .top button {
  border: none;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  color: #FF5E5E;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  box-shadow: none;
}
.wrapper .top button:hover {
  background: #FFCBCB;
}
.wrapper .top .overlay {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
.wrapper .top .modal-box.notification {
  position: absolute;
  z-index: 3;
  width: 95%;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  height: calc(100vh - 110px);
  bottom: 8px;
  transform: translateY(100%);
  border-radius: 8px;
}
.wrapper .top .modal-box.notification .content {
  height: 100%;
  padding: 4px 8px;
}
.wrapper .top .modal-box.notification .content.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .top .modal-box.notification .content.empty header {
  color: #2b2b2b;
}

.wrapper.active-modal .top .overlay {
  opacity: 1;
  pointer-events: auto;
}
.wrapper.active-modal .top .modal-box.notification {
  position: absolute;
  z-index: 3;
  width: 95%;
  background: #fff;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .bottom-nav {
  background: #fff;
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 20px;
}
.wrapper .bottom-nav ul {
  display: flex;
  width: 100%;
  align-items: center;
}
.wrapper .bottom-nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper .bottom-nav ul li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.wrapper .bottom-nav ul li a img {
  height: 28px;
  width: 28px;
}
.wrapper .bottom-nav ul li a .cart_nav {
  position: relative;
}
.wrapper .bottom-nav ul li a .cart_count {
  position: absolute;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  background: #FF5E5E;
  text-align: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 1px;
  right: -4px;
}
.wrapper .bottom-nav ul li span {
  font-size: 12px;
  margin-top: -8px;
  color: #FF5E5E;
  display: none;
  transition: 0.3s ease;
}
.wrapper .bottom-nav ul li span.active {
  display: block;
}
.wrapper .bottom-nav ul li div {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}
.wrapper .bottom-nav ul li div:hover {
  background: #FFCBCB;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .alert {
  background: rgba(136, 236, 136, 0.85);
  width: 95%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px 20px;
  color: #555;
  text-align: center;
  position: fixed;
  z-index: 5;
  bottom: -100px;
  transition: 0.3s ease;
}
.wrapper .alert.active {
  bottom: 60px;
}
.wrapper .home {
  height: calc(100vh - 110px);
  width: 100%;
  padding: 0 10px;
  overflow: auto;
}
.wrapper .home .empty {
  height: calc(100% - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .home .empty h1 {
  font-family: "Atma";
  font-weight: 500;
  text-align: center;
  color: #2b2b2b;
  font-size: 22px;
}
.wrapper .home .filter {
  height: 150px;
  padding: 5px 0 10px;
}
.wrapper .home .filter .content {
  background-image: url("../../icons/background.png");
  background-position: center;
  width: 100%;
  height: 125px;
  border-radius: 10px;
  position: relative;
  padding: 10px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.wrapper .home .filter .content .search {
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  height: 36px;
}
.wrapper .home .filter .content .search input {
  font-size: 16px;
  padding: 0 10px;
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
}
.wrapper .home .filter .content .search a {
  background: #fff;
  padding: 5px 8px;
  display: flex;
  border-radius: 0 5px 5px 0;
  transition: background 0.3s;
}
.wrapper .home .filter .content .search a:hover {
  background: #FFCBCB;
}
.wrapper .home .filter .content .filter-btns {
  position: absolute;
  bottom: 0;
  transform: translateY(30%);
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
}
.wrapper .home .filter .content .filter-btns button {
  height: 45px;
  width: 50px;
  background: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.wrapper .home .filter .content .filter-btns button img {
  display: flex;
  margin: auto;
}
.wrapper .home .filter .content .filter-btns button:hover {
  background: #FFCBCB;
}
.wrapper .home .banner {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.wrapper .home .banner .content {
  position: relative;
  display: flex;
  max-width: 309px;
  width: 100%;
  height: 120px;
}
.wrapper .home .banner .content img {
  width: 100%;
  cursor: pointer;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.wrapper .home .banner .content a {
  position: absolute;
  padding: 4px 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  color: #FF5E5E;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 10px;
  top: 25%;
  right: 5%;
}
.wrapper .home .banner .content a:hover {
  background: #FFCBCB;
}
.wrapper .home .item-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 160px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 10px;
}
.wrapper .home .item-container .items {
  width: 160px;
  max-height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.wrapper .home .item-container .items .img {
  border-radius: 15px 15px 0 0;
  height: 100px;
}
.wrapper .home .item-container .items .item-desc {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper .home .item-container .items .item-desc .name-cont {
  padding-top: 5px;
  text-align: center;
}
.wrapper .home .item-container .items .item-desc .name-cont p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #2b2b2b;
}
.wrapper .home .item-container .items .item-desc .rates {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.wrapper .home .item-container .items .item-desc .rates div {
  display: flex;
  gap: 7px;
  color: #2b2b2b;
}/*# sourceMappingURL=style.css.map */