.wrapper {
    .checkout {
        height: calc(100vh - 50px);
        width: 100%;
        overflow: hidden;
        position: relative;

        .checkout-container {
            width: 100%;
            height: 100%;
            padding: 15px 10px;
            overflow: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .payment {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 5px;

                .walkin,
                .select {
                    display: flex;
                    gap: 10px;
                    font-weight: 500;

                    input,
                    label {
                        cursor: pointer;
                    }
                }

                .walkin {
                    padding: 0 10px;
                }

                .gcash {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: relative;
                    padding: 10px;

                    .select,
                    .description,
                    .upload {
                        opacity: 0.3;
                    }

                    p {
                        pointer-events: none;
                    }

                    .description {
                        @include flexCenter(row, center, space-between);
                    }

                    .upload {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        img {
                            width: 100px;
                            height: 100px;
                            cursor: pointer;
                        }
                    }

                    .not-available {
                        @include flexCenter(row, center, center);
                        position: absolute;
                        background: $containerColor;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        text-align: center;
                        top: 0;
                        left: 0;
                        opacity: 0.8;

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }


            .order-summary {
                @include orderSummary;
            }

            .proceed-btn {
                @include proceedBtn;
            }
        }
    }
}