@import url(global.css);
@import url(navbar.css);

.container .content {
    width: 100%;
    padding: 0 10px;
}

.content .top {
    /* background: lightpink; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.content .top p {
    font-family: 'Atma';
    font-size: 18px;
}

.content .top img {
    width: 60px;
    height: 60px;
    margin-top: -5px;
    position: absolute;
    z-index: 99;
    right: 50%;
    transform: translateX(50%);
}

.content .top a {
    padding: 5px 15px;
}

.content .row1 {
    /* background: grey; */
    display: flex;
    position: relative;
    align-items: flex-end;
    height: 150px;
}

.content .row1 .background {
    background-image: url('../icons/background.png');
    background-position: center;
    height: 125px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
}

.content .row1 .search-container {
    background: #fff;
    border: 1px solid #888888;
    display: flex;
    width: 275px;
    border-radius: 5px;
    position: absolute;
    right: 50%;
    top: 20px;
    transform: translateX(50%);
}

.row1 .search-container input {
    flex: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
}

.row1 .search-container a {
    padding: 5px 8px;
    display: flex;
    transition: background 0.3s;
}

.row1 .search-container a:hover {
    background: #FFCBCB;
}

.row1 .search-container a img {
    width: 25px;
    height: 25px;
}

.container .content .filter-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.content .filter-container button {
    border: none;
    cursor: pointer;
    height: 45px;
    width: 50px;
    display: flex;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    transition: 0.3s;
}

.content .filter-container button:hover {
    background: #FFCBCB;
}

.content .filter-container button img {
    margin: auto;
}

.container .content .banner-container {
    /* background: grey; */
    margin-top: 20px;
    display: flex;
}

.container .content .banner-container img {
    height: 120px;
    width: 300px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .25);
}

.container .content .item-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.container .item-label-container h1 {
    font-size: 12px;
    width: 50%;
}

.container .item-label-container hr {
    width: 100%;
}

.container .content .item-container {
    /* background: grey; */
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 20px;
}

.content .item-container .items {
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

.item-container .items img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.item-container .items .item-desc {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.items .item-desc .item-name {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 8px;
    text-align: center;
    line-height: 20px;
}

.items .item-desc .item-price {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.items .item-desc .item-price span {
    font-size: 20px;
    color: #2b2b2b;
}

.items .item-desc .item-rates {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    /* align-items: flex-end;
    height: 100%; */
}

.items .item-desc .item-rates div {
    display: flex;
    gap: 7px;
}